{% extends 'main.html' %}


{% block content %}

{% if page == 'Login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username....">

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password...">

        <input type="submit" value="Login">

        <p>You Havent Joined The Discusion Yet?!!</p>
        <a href="{% url 'register' %}">Sign Up Here!!</a>
        
    </form>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
       
        <input type="submit" value="Register">
        <p>Already  Joined The Discusion?!!</p>
        <a href="{% url 'Login' %}">Login Here!!</a>

        
    </form>
</div>

{% endif %}

{% endblock %}